body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #4CAF50;
    text-shadow: 1px 1px 2px #ddd;
}

#task-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

#task-form input[type="text"] {
    flex: 1 1 40%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

#task-form input[type="text"]:focus {
    border-color: #4CAF50;
}

#task-form label {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    font-size: 1em;
}

#task-form input[type="checkbox"] {
    margin-right: 10px;
}

#task-form button {
    flex: 1 1 100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

#task-form button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

.task {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.task:hover {
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task h3 {
    margin: 0;
    font-size: 1.4em;
}

.task p {
    margin: 0;
    color: #666;
    font-size: 1em;
}

.task button {
    padding: 8px 12px;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
}

.task button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.task button.delete {
    background-color: #e74c3c;
    color: white;
}

.task button.edit {
    background-color: #3498db;
    color: white;
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.task {
    animation: fadeIn 0.5s ease-in-out;
}
